@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  color: var(--foreground);
  background: black;

  font-family: Arial, Helvetica, sans-serif;

  overscroll-behavior: none;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.h-safe {
  height: calc(100vh - env(safe-area-inset-bottom, 0px));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}